@{
    ViewBag.Title = "Informações";
}
<h2>@ViewBag.Title.</h2>
<h3>@*@@ViewBag.Message*@</h3>

<address>
    Rodovia Br 470, 11027 - Km 48 - 89.117-360<br />
    <abbr title="Telefone">Telefone:</abbr>
    (47)3339-0026
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:pereiraautoparts@hotmail.com">pereiraautoparts@hotmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>