@{
    ViewBag.Title = "Home Page";
}
@*<meta name="viewport" content="width=device-width, initial-scale=0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    @*<div class="ms-slide-bgcont" style="opacity: 1; height: 530px;">*@
@*<img src="~/Content/MySlides/b7718de6-2016-cadillac-cts-v-super-sedan.jpg" class="ls-bg" style="cursor: pointer; height: 530px; width: 1140px; margin-top: 0px; margin-left: 0px;">*@
@*<div class="w3-content w3-display-container">
        <img class="MySlides" src="~/Content/MySlides/b7718de6-2016-cadillac-cts-v-super-sedan.jpg" style="cursor: pointer; height: 530px; width: 980px; margin-top: 0px; margin-left: 0px;">
        <img class="MySlides" src="~/Content/MySlides/Cadillac_2016_CTS_V_436848.jpg" style="cursor: pointer; height: 530px; width: 980px; margin-top: 0px; margin-left: 0px;">
        <img class="MySlides" src="~/Content/MySlides/carro-10-1.jpg" style="cursor: pointer; height: 530px; width: 980px; margin-top: 0px; margin-left: 0px;">
        <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
    </div>
    <script src="~/Scripts/scroll-trigger.js"></script>*@
@*</div>*@

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="~/Content/MySlides/b7718de6-2016-cadillac-cts-v-super-sedan.jpg" alt="First slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Enorme Variedade de Peças</h3>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="~/Content/MySlides/Cadillac_2016_CTS_V_436848.jpg" alt="Second slide">
                <div class="mask rgba-black-strong"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Melhor de Blumenau</h3>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="~/Content/MySlides/carro-10-1.jpg" alt="Third slide">
                <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Auto Peças Pereira</h3>
                <p>O melhor para seu carro</p>
            </div>
        </div>

    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>

<div class="row">
    <div class="col-md-8">
     <h2>Bem vindo ao Ferro Velho Pereira</h2>
    </div>
</div>
